body {
    font-family: Agradir, sans-serif, bold;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.hero {
    background-image: url('IMG_2268.PNG');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.social-media ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-media ul li a img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.bg-image {
    height: 400px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
